/* App container */
.App {
  text-align: center;
  margin: 2rem;
}

/* AppBar styles */
.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.app-bar h1 {
  margin: 0;
}

/* Counter styles */
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Button styles */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 1.25rem;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

/* Reset button in AppBar */
.app-bar button {
  background-color: #ff5722;
}

.app-bar button:hover {
  background-color: #d84315;
}

/* Counter styles */
.counter-container {
  display: block;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.counter-value {
  font-size: 2rem;
  font-family: "Digital", sans-serif;
  background-color: #333;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
